<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mvelx-test" parallel="false">
    <test verbose="1" name="mvelx" annotations="JDK">
        <packages>
            <package name="org.mvelx.*">
            </package>
        </packages>
    </test>
</suite>